[submodule "crates/kind"]
	path = crates/kind
	url = https://github.com/Zeenobit/moonshine_kind
[submodule "crates/object"]
	path = crates/object
	url = https://github.com/Zeenobit/moonshine_object
[submodule "crates/save"]
	path = crates/save
	url = https://github.com/Zeenobit/moonshine_save
[submodule "crates/util"]
	path = crates/util
	url = https://github.com/Zeenobit/moonshine_util
[submodule "crates/tag"]
	path = crates/tag
	url = https://github.com/Zeenobit/moonshine_tag
